#section {
  background-image: url("/bg-header.png");
  height: 39rem;
  background-repeat: no-repeat;
  background-size: cover;
}

#nav-text-head {
  color: #118ac5;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; /* 100% */
  letter-spacing: 0.3px;
}

#nav-text-items {
  color: #121212;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px; /* 100% */
  letter-spacing: 0.3px;
}

#nav-login-button {
  width: 105px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #80c1ef;
  color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 100% */
  letter-spacing: 0.3px;
}

#nav-signup-button {
  width: 105px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #dbedfb;
  color: #528eaa;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 100% */
  letter-spacing: 0.3px;
}

#floatbox1 {
  position: absolute;
  top: 150px;
  left: 660px;
  border-radius: 30px;
  background: #fff;
  /* shadow */
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  width: 114px;
  height: 100px;
  flex-shrink: 0;
}

#floatbox2 {
  position: absolute;
  bottom: 240px;
  left: 980px;
  border-radius: 30px;
  background: #fff;
  /* shadow */
  box-shadow: 10px 4px 30px 10px rgba(0, 0, 0, 0.05);
  width: 200px;
  height: 100px;
  flex-shrink: 0;
}

#floatbox2-text {
  color: #373737;
  font-size: 28px;
  font-style: normal;
  font-weight: bolder;
  line-height: 32px; /* 114.286% */
  letter-spacing: 0.3px;
}

#floatbox2-text-lead {
  color: #2f2f2f;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 100% */
  letter-spacing: 0.3px;
}

#floatbox3 {
  position: absolute;
  bottom: 30px;
  left: 570px;
  width: 250px;
  height: 100px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #fff;

  /* shadow */
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

#floatbox3-text {
  color: #373737;
  font-size: 55px;
  font-style: normal;
  font-weight: 600;
  line-height: 55px; /* 100% */
  letter-spacing: 0.3px;
}

#floatbox3-text-lead {
  color: #2f2f2f;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 100% */
  letter-spacing: 0.3px;
}

#hero-small-text-heading {
  color: #118ac5;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 175% */
  letter-spacing: 1px;
}

#hero-text-heading {
  color: #121212;
  font-size: 55px;
  font-style: normal;
  font-weight: 600;
  line-height: 65px; /* 118.182% */
  letter-spacing: -2px;
}

#hero-text-lead {
  color: #2f2f2f;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  letter-spacing: 0.5px;
}

#hero-order-button {
  border-radius: 35px;
  background: #ffba18;
  width: 215px;
  height: 70px;
  flex-shrink: 0;
}

#hero-order-button-text {
  color: #404040;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 100% */
  letter-spacing: 0.3px;
}

#hero-order-button2 {
  border-radius: 35px;
  background: #f4f6fb;
  width: 215px;
  height: 70px;
  flex-shrink: 0;
}

#hero-order-button-text2 {
  color: #2f2f2f;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  letter-spacing: 0.5px;
}

#features-hero-text-header {
  color: #282a2e;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 46px; /* 127.778% */
  letter-spacing: 0.3px;
}

#features-hero-text {
  color: #2f2f2f;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  letter-spacing: 0.5px;
}

#features-hero-list-text-head {
  color: #282a2e;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 100% */
  letter-spacing: 0.3px;
}

#features-hero-list-text-lead {
  color: #2f2f2f;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  letter-spacing: 0.5px;
}

#feature-hero-thumbnail1 {
  position: absolute;
  top: 800px;
  left: 5px;
  border-radius: 10px;
  width: 215.205px;
  height: 279.582px;
}

#feature-hero-thumbnail2 {
  position: absolute;
  top: 1040px;
  left: 430px; 
  border-radius: 10px;
  width: 215.205px;
  height: 279.582px;
}
